.body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.form-container {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.form-input-container {
  margin-top: .2rem;
  margin-bottom: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-input-container-row {
  margin-top: .2rem;
  margin-bottom: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-input-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-input-cell {
  display: flex;
  flex-direction: column;
  width: 100%
}

.form-input-div {
  width: 100%;
}

.form-input {
  width: 100%;
}

/* .form-input-div-row {
} */

.form-textarea {
  resize: none;
  border-color: silver ;
}

.form-select {
  border-color: silver ;
  
}

.form-label-div {
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.form-label-block {
  display: flex;
  align-items: center;
  justify-content: right;
}

.form-submit-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-submit-button {
  border-radius: 2%;
  box-shadow: 4px;
}

.change-form-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.change-form-button {
  background-color: lightgrey;
  border: unset;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.tile {
  width: 12rem;
  height: 15rem;
  margin: 1rem;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.tile-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile-footer

.tile-name {
  font-size: 1.4rem;
}

.tile-blurb {
  font-size: 0.8rem;
}

.tile-address {
  font-size: 0.7rem;
}

.tile-open-hours {
  font-size: 0.8rem;
}

.tile-produce-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tile-tag {
  color: white;
  font-size: 0.7rem;
  background-color: silver;
  border-radius: 5%;
  padding: 0 3px;
}

.tablink {
  text-decoration-line: unset;
}

.item-container {
  display: flex;
  flex-direction: row;
}

.item-column {
  display: flex;
  flex-direction: column;
}

.item-row {
  display: flex;
  flex-direction: row;
}

.item-info {
  width: 90%;
}

.item-buttons-col {
  width: 10%;
}

.item-button {
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  overflow-wrap: normal;
  height: 100%;
}

.item-create 

.item-edit 


.item-text {
  width: 100%;
}

.item-description-input {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
}

.item-input {
  width: 100%;
}

.item-input input {
  width: 100%;
  height: 100%;
  border: none;
}

.slide-select-container {
  display: flex;
  justify-content: center;
  padding-bottom: 0.2rem;
}

.slide-select-btn {
  width: 100%;
  border: none;
  border-bottom: 6px solid silver;
}

.slide-select-btn:focus {
  outline: none;
}

.slide-active {
  border-color: #4CAF50;
}