.body {
  margin-top: 100px;
  justify-content: center;
  display: flex;
}

.form-container {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.form-input-container {
  margin-top: .2rem;
  margin-bottom: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-input-container-row {
  margin-top: .2rem;
  margin-bottom: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-input-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-input-cell {
  display: flex;
  flex-direction: column;
  width: 100%
}

.form-input-div {
  width: 100%;
}

.form-input {
  width: 100%;
}

/* .form-input-div-row {
} */

.form-textarea {
  resize: none;
  border-color: silver ;
}

.form-select {
  border-color: silver ;
  
}

.form-label-div {
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.form-label-block {
  display: flex;
  align-items: center;
  justify-content: right;
}

.form-submit-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-submit-button {
  border-radius: 2%;
  box-shadow: 4px;
}

.change-form-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.change-form-button {
  background-color: lightgrey;
  border: unset;
}

.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.tile {
  width: 12rem;
  height: auto;
}

/* .tile > img {
  width: 100%;
  height: auto;
} */

.item-container {
  display: flex;
  flex-direction: row;
}

.item-column {
  display: flex;
  flex-direction: column;
}

.item-row {
  display: flex;
  flex-direction: row;
}

.item-info {
  width: 90%;
}

.item-buttons-col {
  width: 10%;
}

.item-button {
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  overflow-wrap: normal;
  height: 100%;
}

.item-create 

.item-edit 


.item-text {
  width: 100%;
}

.item-description-input {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
}

.item-input {
  width: 100%;
}

.item-input input {
  width: 100%;
  height: 100%;
  border: none;
}
