.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list

.nav-market

#account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  right: 0;
  top: 3rem;
}

.basket {
  width: 2rem;
  height: auto;
}

.menu-bars {
  width: 1.2rem;
  height: auto;
}

li {
  list-style-type: none;
}